# temp folder
__pycache__/
*.pyc
*.pyo

# model
ner_custom_model/
ner_dose_model/
dose_ner/
read_ann/MACCROBAT2020/
read_ann/MACCROBAT2018/
read_ann/*.zip
.model/
my_modernbert/
logs
data/*.dat
data/*.csv
data/*.spacy

# virtual envs
demo_transformers/.venvtrans/
demo_spacy/.venvspac/
demo_label/.venvlabel/
demo_med7/.venvmed7
